* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
body{
    font-family:Arial, Helvetica, sans-serif;
    line-height:1.5;
}
h1{
    text-align:center;
}
h3{
    margin-left:130px;
}
table{
    margin:0 auto;
    text-align:center;
    background-color:yellow;
    font-size:24px;
    color:red;
    font:bold;
}
td{
    width:250px;
    height:40px;
}
table,tr,td{
    border:solid 1px;
    border-collapse:collapse;
}